. container.achievements__container {
  width: 40%;
}

.achievement {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none; /* disable selection of achievement*/
}

.achievement > small {
  color: var(--color-light);
  font-weight: 300;
  width: 80%;
  margin: 0.8rem auto 0;
  text-align: center;
  display: block;
}

.testscores {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none; /* disable selection of achievement*/
}

.testscore {
  color: var(--color-light);
  font-weight: 300;
  width: 80%;
  margin: 0.8rem auto 0;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
}
